<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <div *ngIf="isGame; then thenBlock else elseBlock"></div>
            <ng-template #elseBlock>
              <li class="list-inline-item">
                <a routerLink="/players" class="btn btn-info">List Players</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/addPlayer" class="btn btn-info">Add Player</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/game" class="btn btn-info" (click)="startGame()">Start</a>
              </li>
            </ng-template>
            <ng-template #thenBlock>
              <li class="list-inline-item">
                <a routerLink="/players" class="btn btn-danger" (click)="endGame()">Exit</a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/game/end" class="btn btn-success" (click)="endGame()">Finish</a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
